/* Styles for the navigation bar */
    *{
        font-family: sans-serif;
    }

    .background {
        background-color: rgb(226, 224, 234);
    }

    .banner {
        background-color: rgb(237,115,101);
        position: fixed;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .nav-items {
        font-size: 25px;
        margin-top: 5px;
        padding: 10px;
    }

    .nav-items ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-items li {
        margin: 0;
    }

    .reservation {
        flex-grow: 1;
        text-align: center;
    }
    
    .nav-items li a {
        text-decoration: none;
        color: aliceblue;
    }
    
    .nav-items li a img {
        background-color: aliceblue;
        border-radius: 50%;
        width: 75px;
        margin-right: auto; 
    }

    @media (max-width: 767px) {
        .reservation {
          font-size: 20px;
        }
        .Cart {
            border-radius: 4px;
            background-color: aliceblue;
            border: none;
            font-size: 20px;
            color: rgb(237,115,101);
            text-align: center;
            padding: 20px;
            width: 110px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
            float:right;
            display:block;
            margin-right:0px;
            clear:left;
        }
    }

    @media (min-width: 768px) {
        .Cart {
            border-radius: 4px;
            background-color: aliceblue;
            border: none;
            font-size: 25px;
            color: rgb(237,115,101);
            text-align: center;
            padding: 20px;
            width: 120px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
            float:right;
            display:block;
            margin-right:0px;
            clear:left;
        }
    }

    .Cart span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .Cart span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .Cart:hover span {
        padding-right: 25px;
    }

    .Cart:hover span:after {
        opacity: 1;
        right: 0;
    }

    .Whitespace{
        height: 1000vh;
    }